<main class="main">
  <div class="container">
    <section class="wrapper">
      <div class="icon-left">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="heading">
        <h1 class="text text-large">Sign In</h1>
      </div>
      <form name="signin" class="form">
        <div class="input-control">
          <mat-icon>person</mat-icon>
          <mat-form-field appearance="outline">
            <mat-label>Select Persona</mat-label>
            <mat-select>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="user">User</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-control">
          <mat-icon>chrome_reader_mode</mat-icon>
          <mat-form-field appearance="outline">
            <mat-label>ID / CREA</mat-label>
            <input matInput placeholder="Enter your ID or CREA">
          </mat-form-field>
        </div>
        <div class="input-control">
          <mat-icon>lock</mat-icon>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password">
          </mat-form-field>
        </div>
        <div class="input-control">
          <button type="submit" name="submit" class="input-submit">Sign In</button>
        </div>
      </form>
      <div class="icon-right">
        <mat-icon>lock_open</mat-icon>
      </div>
    </section>
  </div>
</main>
