<section>
  <app-step-progress [active]="step"></app-step-progress>


  <form action="">
    <!-- <div>
      <p>dsdsd</p>
      <input class="test" type="text">
    </div> -->
    <div *ngIf="step == 1" class="input-groups">
      <app-forms-inpput [placeholder]="'test'" [id]="1"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'josias'" [id]="2"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>

    </div>
    <div *ngIf="step == 2" class="input-groups">
      <app-forms-inpput [placeholder]="'test'" [id]="1"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'josias'" [id]="2"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>

    </div>
    <div *ngIf="step == 3" class="input-groups">
      <app-forms-inpput [placeholder]="'test'" [id]="1"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'josias'" [id]="2"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>
      <app-forms-inpput [placeholder]="'test'"></app-forms-inpput>

    </div>
  </form>

  <div class="button-group">
    <button (click)="nextForm()" class="button">proximo</button>
    <button (click)="backForm()" class="button">voltar</button>
  </div>




<!-- <div class="input-wrapper">
  <input type='text' id='input' required >
  <label
         for='input'
         class='placeholder'>
    Username
  </label>
</div> -->

</section>
