.input-groups {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin: 30px;
  flex-flow: wrap;
}

.button-group {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.button {
  padding: 24px;
  border-radius: 30px;
  font-size: 16px;
  background: #6767e1;
  color: white;
}
